@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  background-color: #ffe67c;
  color: #ed8b0e;
}

@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
